<%- include('./partials/header.ejs', {pagetitle: "Home"})%>
<%- include('./partials/navbar.ejs')%>

<!-- <h1>This is where we upload plant images!</h1>
<form method="POST"  action="/home" enctype="multipart/form-data">
    <input type="file" name="plantImage">
    <button type="submit">Upload Plant</button>
</form> -->

<h1>Home Page</h1>

<% posts.forEach(post => { %> 
    <div class="card mb-3" style="width: 30rem;" id="Card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.description %></p>
          <a href="posts/<%= post._id %>" class="btn btn-info">View More</a>
          
        </div>
      </div>
<% }); %> 



<%- include('./partials/footer.ejs')%>